---
import Iotanic from '~/assets/partner/IOTANIC.webp';
import Undiksa from '~/assets/partner/Logo_undiksha.webp';
import Binus from '~/assets/partner/lg-65d603bd69aab-Binus-University-Bina-Nusanta.webp';
import { Image } from 'astro:assets';
import '~/styles/Scroll.css';
---

<center>
		<div
			class="logo-container"
			id="logo-container">
			<div class="logo">
				<Image
				loading="lazy"
					src={Iotanic}
					alt="Iotanic"
					width={400}
				/>
				<Image
				loading="lazy"
					src={Binus}
					alt="Bajategal"
					width={250}
				/>
				<Image
				loading="lazy"
					src={Iotanic}
					alt="Iotanic"
					width={400}
				/>
				<Image
				loading="lazy"
					src={Undiksa}
					alt="Undiksa"
					width={250}
				/>
			</div>
			<div class="logo">
				<Image
				loading="lazy"
					src={Iotanic}
					alt="Iotanic"
					width={400}
				/>
				<Image
				loading="lazy"
					src={Binus}
					alt="Bajategal"
					width={250}
				/>
				<Image
				loading="lazy"
					src={Iotanic}
					alt="Iotanic"
					width={400}
				/>
				<Image
				loading="lazy"
					src={Undiksa}
					alt="Undiksa"
					width={250}
				/>
			</div>
			<div class="logo">
				<Image
				loading="lazy"
					src={Iotanic}
					alt="Iotanic"
					width={400}
				/>
				<Image
				loading="lazy"
					src={Binus}
					alt="Bajategal"
					width={250}
				/>
				<Image
				loading="lazy"
					src={Iotanic}
					alt="Iotanic"
					width={400}
				/>
				<Image
				loading="lazy"
					src={Undiksa}
					alt="Undiksa"
					width={250}
				/>
			</div>
	</div>
</center>


