---
import ContentSection from "./content-section.astro"
import { Icon } from "astro-icon/components"
import icon from "astro-icon"

const freeClasses = [
  {
    icon: "ant-design:security-scan-twotone",
    title: "Introduction of SOC Analyst",
    teacher: "Efraim Julian Rangga",
    times: "28 September, 10:00 WIB",
    materials: ["SOC at Glance", "Why organization need SOC", "SOC Requirements: People, Process Technology", "Conclution"]
  },
  {
    icon: "mdi:monitor-dashboard",
    title: "Unlock the Power of SIEM and Wazuh: Essential Tools for Cybersecurity Management",
    teacher: "Fikri Mobiliu",
    times: "29 September, 19:00 WIB",
    materials: ["Pengenalan SIEM", "Pengenalan Wazuh","Kelebihan dan Kekurangan Wazuh"
    ]
  }
]
const gridCondition = `grid grid-cols-${freeClasses.length} gap-5 max-lg:grid-cols-1 `
---

<div class="px-2">
  <ContentSection id="" title="FREE CLASS">
    <div class={gridCondition}>
      {
        freeClasses.map(freeClass => (
        <div class="bg-offset rounded-lg p-3 w-[30rem] h-full flex flex-col max-sm:w-auto">
          <div class="flex-grow">
            <div class="w-[60px] h-[60px] bg-[#f5ba20] rounded-lg ">
              <center>
                <Icon name={freeClass.icon} size={60} class="p-[2px]" />
              </center>
            </div>
            <h1 class="mt-[1.5rem] text-left font-bold text-xl">{freeClass.title}</h1>
            <p class="text-left text-zinc-500">Live Class • Beginner - Intermediate</p>
            <h1 class="font-bold mt-[1rem]">👨🏻‍💻 {freeClass.teacher}</h1>
            <div class="flex gap-2">
              <Icon name="mdi:calendar-outline" size={30} class="text-[#f5ba20]" />
              <h1 class="font-bold">{freeClass.times}</h1>
            </div>
            <div class="flex-col text-left mt-[1rem]">
              {
                freeClass.materials.map(material => (
                  <p class="flex gap-2">
                    <Icon name="mdi:tick" size={30} class="text-green-500" />
                    {material}
                  </p>
                ))
              }
            </div>
          </div>

          <!-- Div di bagian bawah selalu sejajar dengan mt-auto -->
          <div class="mt-auto">
            <div class="flex gap-2 mt-[1rem]">
              <Icon name="fxemoji:loudspeaker" size={30} class="mt-[1rem]" />
              <h1 class="font-bold">Terbatas hanya untuk 
                <span class="text-[#f5ba20] font-extrabold text-3xl">50</span> 
                pendaftar <span class="font-extrabold text-red-500 text-xl">!!!</span>
              </h1>
            </div>
            <a href="/Daftar-FreeClass" class="mt-[0.5rem]">
              <button class="mt-[2rem] bg-[#f5ba20] w-full py-2 rounded-md hover:bg-transparent border-2 border-[#f5ba20] transition-all duration-500 max-sm:px-[5rem] max-sm:w-full">
                Daftar Gratis
              </button>
            </a>
          </div>
        </div>
        ))
      }
    </div>
  </ContentSection>
</div>
