---
import { Image } from "astro:assets";
import mentor1 from '../assets/mentor/ibnu.webp';
import mentor2 from '../assets/mentor/mentor2.webp';
import mentor3 from '../assets/mentor/mentor3.webp';

const mentors = [
  {
    src: mentor1,
    name: "Ibnu Faisal",
    position: "Cyber Security Expert",
    experiences: ["Head of infoSec at byOrange, ", "Certified in Cyber Security by ISC2, ", "Certified in CISSP by ISC2"],
    description: "Orang yang profesional terampil di bidang keamanan siber dengan pengalaman yang luas dalam melindungi sistem informasi dan jaringan dari berbagai ancaman digital."
  },
  {
    src: mentor2,
    name: "Efraim Julian",
    position: "Cyber Security Expert",
    experiences: ["Senior IT Governance and Security Management Informedia Nusantara", , "CISA", , "CEH", , "LA27001"],
    description: "Seseorang dengan keahlian di bidang audit sistem, keamanan siber, dan tata kelola IT sesuai standar internasional."
  },
  {
    src: mentor3,
    name: "Fikri Mobilu",
    position: "Cyber Security Expert",
    experiences: ["IT Project Supervisior, ", "IT Security & DevOps, ", "Technical Support Network Administrator, ", "Network Operation Centre PT.Industri Telekomunikasi (Persero), ", "PT.CyberNetwork Indonesia and PT.Internet Madju Abadi Abad Melindo"],
    description: "Seseorang yang ahli dalam manajemen proyek IT, keamanan jaringan, pengelolaan infrastruktur, dan operasi jaringan."
  }
];
---

<section class="py-16">
  <center>
    <h2 class="text-3xl font-extrabold text-center mb-4 text-[#f5ba20]">MENTOR KAMI</h2>
    <p class="text-xl text-center font-bold mb-12">Lebih Dari 10+ Tahun Pengalaman</p>
  </center>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {mentors.map(mentor => (
        <div class="bg-offset rounded-lg shadow-md overflow-hidden flex flex-col h-full">
          <div class="relative pt-[75%] overflow-hidden">
            <Image 
              src={mentor.src} 
              alt={mentor.name} 
              class="absolute top-0 left-0 w-full h-full object-contain"
            />
          </div>
          <div class="p-6 flex-cols">
            <center>
              <h3 class="text-xl font-semibold mb-2">{mentor.name}</h3>
            <p class="font-bold text-[#f5ba20] mb-4">{mentor.position}</p>
            <p class="text-sm text-white" >{mentor.experiences.map(experience => (experience))}</p>
            <p class="text-sm text-white mt-[10px]">{mentor.description}</p>
            </center>
          </div>
        </div>
      ))}
    </div>
    
    <center>
        <button class="mt-[2rem] bg-[#f5ba20] px-[9rem] py-4 rounded-md hover:bg-transparent border-2 border-[#f5ba20] transition-all duration-500 max-sm:px-[5rem]" >
          Join Now
        </button>
      </a>
      </center>
    </div>
  </div>
</section>